.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
 }
 
body {
  height: 100%;
  position: relative;
 }

.App{
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  background-color: #3b3f42;
  color: rgba(255,255,255,.5)
}

.navBar {
  list-style-type: none;
}

.loginformContainer{
  display: flex;
  height: 100%;
  margin-top: 10%;
}

.loginform {
  width: 30%;
  margin: auto;
  border: solid 2px black;
  padding: 5%;
  background-color: antiquewhite;
}

.registerSection{
  margin: 10px;
}

.nextButton,.backButton{
  width: 30%;
  height: 30px;
  border-radius: 40%;
}

.nextButton:hover, .backButton:hover{
  background-color: rgb(247, 194, 80);
  font-size: 1.2em;
}

.nextButton{
  float: right;
}

.backButton{
  float: left;
}

.gridCol {
  /* border: solid 2px black; */
  /* padding: 10px; */
  margin: 20px 10px 20px 10px;
}

.mainMap {
  border: 2px solid forestgreen;
  margin: auto;
}

.inspectionContainer{
  width: 80%;
  margin: auto;
}

.eachReport {
  border: 2px solid black;
  margin-bottom: 5px;
  padding: 10px;
}

.reportEditForm textarea{
  width: 100%;
}

.gridCol p {
  /* border: 2px solid; */
  margin: 10px;
  height: 4em;
}


.main-map{
  margin: auto
}

.gridCol img {
  background-image:url('https://res.cloudinary.com/dfqzcsl8x/image/upload/v1603237135/Project4/blank_leicjd.png');
  min-width: 200px;
  min-height: 200px;
}

.markerPopup {
  width: 30%;
  z-index: 2;
  position: absolute;
}

.markerPopup-button{
  border-radius: 20%;
  border-color: orange;
  position: relative;
}

.mylocation-button{
  border: 2px rgb(135, 200, 230) solid;
  border-radius: 100%
}


.mylocation-button{
  animation: MYLOCATION infinite 2s linear ;
}

@keyframes MYLOCATION {
  from {
     transform: scale(.5);
     transition: transform .4s ease;
  }
  to {
    transform: scale(1.2);
    transition: transform .4s ease;
  }
}

.timekeeper{
  margin: 20px;
  color: white;
}

.header-widget{
  margin: 20px 0px 20px 10px;
}

.react-calendar.header_calender {
  box-shadow: 5px -5px 50px  darkgray;
}

.card-body{
  background-image: url('https://res.cloudinary.com/dfqzcsl8x/image/upload/v1605209635/Project4/wood_eynexc.jpg');
}

.card-body p {
  color: lightcyan;
}

.card-body h3 {
  color: aliceblue;
  font-family: 'Goldman';
}

.App{
  background: url('https://res.cloudinary.com/dfqzcsl8x/image/upload/v1605209188/Project4/ramen_rq3a1a.png') repeat center center fixed;

}

.footer a{
  margin-right: 20px;
}

.homepagetitle h1{
  background-color: cornsilk;
  font-size: 3em;
  font-family: monospace;
}

.homepagetitle {
  background-color: cornsilk;
}

.header-image {
  background-image: url("https://res.cloudinary.com/dfqzcsl8x/image/upload/v1605275538/Project4/knife_p2lbva.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  width: 100%;
  height: 100px;
  /* overflow: hidden; */
}

.header-image h1{
  position: absolute;
  color: white;
  font-size: 2.5em;
  padding: 20px;
}

